.content{
    margin-left: 5%;

    margin-right: 20%;
}

.content2{
    margin-left: 20%;

    margin-right: 20%;
}


.checkboxes label{
    font-weight: 500;

}


.data-table th{
    background-color: #2c8bda;
    color: white;
    padding: 0.5%;
    text-align: center;

}

.data-table td{
    background-color: #e6f0ff;
    padding: 1%;
    text-align: center;
    
}